:root{
    --contentArea: 0px 10%;
}

.mainNewsArea{
    display: flex;
    padding: var(--contentArea);
    margin: 10px 0px;
}

.secondaryNewsArea,.secondaryNewsArea div{
    display: flex;
}

.secondaryNewsArea{
    padding: var(--contentArea);
    margin: 10px 0px;
}

h3 {
    margin: 0px;
    cursor: pointer;
}

.mainNewsArea h3 {
    font-size: 1.5rem;
}

.secondaryNewsArea h3 {
    font-size: 1.2rem;
}

.columnists{
    background-color: cornflowerblue;
    padding: 10px 10%;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

/*Responsividade*/
@media(max-width:1150px){
    .mainNewsArea,.secondaryNewsArea{
        flex-wrap: wrap;
    }

    .mainNewsArea h3 {
        font-size: 1.2rem;
    }
    
    .secondaryNewsArea h3 {
        font-size: 0.9rem;
    }
}

@media(max-width:650px){
    .secondaryNewsArea div{
        flex-wrap: wrap;
    }

    /*A fonte volta para 1.2rem porque fica um tamanho adequado para o tamanho da tela*/
    .secondaryNewsArea h3 {
        font-size: 1.2rem;
    }
}